In [1]:
import pandas as pd
from pydantic import BaseModel, ValidationError, PositiveFloat, PositiveInt, Field, constr, StrictInt

In [2]:
dta = pd.read_excel(r'D:\Programming\html\Bilder\test.xlsx')
dta.fillna("", inplace=True)
dta
###

   MichNr                Satz  Jahrgang  Gebiet  Entwertung  Anzahl  Preis
0      -3  Schwarzer Aufdruck      1948  Berlin  postfrisch     3.5   4.00
1       1  Schwarzer Aufdruck      1948               falz3     3.0   4.33
2       1  Schwarzer Aufdruck      1948  Berlin        falz     3.7   4.60

In [3]:
class Marke(BaseModel):
    MichNr : PositiveInt
    Satz : str
    Jahrgang : PositiveInt
    Gebiet : str = Field(min_length=1)
    Entwertung : str = Field(..., regex='^postfrisch|falz$')
    Anzahl : StrictInt
    Preis : PositiveFloat

In [4]:
checks = list(Marke.__fields__.keys())

In [5]:
def CheckMarke(d1):
    try:
        print('Checked Marke : ', Marke(**d1))
    except ValidationError as e:
        print(e.errors())

In [6]:
for i in dta.index:
    m = dict(zip(checks, dta.iloc[i]))
    CheckMarke(d1=m)

[{'loc': ('MichNr',), 'msg': 'ensure this value is greater than 0', 'type': 'value_error.number.not_gt', 'ctx': {'limit_value': 0}}, {'loc': ('Anzahl',), 'msg': 'value is not a valid integer', 'type': 'type_error.integer'}]
[{'loc': ('Gebiet',), 'msg': 'ensure this value has at least 1 characters', 'type': 'value_error.any_str.min_length', 'ctx': {'limit_value': 1}}, {'loc': ('Entwertung',), 'msg': 'string does not match regex "^postfrisch|falz$"', 'type': 'value_error.str.regex', 'ctx': {'pattern': '^postfrisch|falz$'}}, {'loc': ('Anzahl',), 'msg': 'value is not a valid integer', 'type': 'type_error.integer'}]
[{'loc': ('Anzahl',), 'msg': 'value is not a valid integer', 'type': 'type_error.integer'}]

In [29]:
dta

   MichNr                Satz  Jahrgang  Gebiet  Entwertung  Anzahl  Preis
0      -3  Schwarzer Aufdruck      1948  Berlin  postfrisch     3.5   4.00
1       1  Schwarzer Aufdruck      1948               falz3     3.0   4.33
2       1  Schwarzer Aufdruck      1948  Berlin        falz     3.0   4.60